@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html, body {
    max-width: 100% !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #141414;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.container {
    margin: 0 50px 0 50px;
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.nav-list li:hover {
    opacity: 50%;
}

.header-text {
    margin-left: 30px;
    align-items: center;
}

.main-btns {
    margin-top: 20px;
}

.btn {
    background: #39A9DC;
    border-radius: 80px;  
    border: 0; 
    width: 150px;
    height: 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.active {
    color: #828282;
    cursor: not-allowed;
}

.btn:hover {
    opacity: 80%;
}

.mrg-left20px {
    margin-left: 20px;
}

.typewriter {
    font-size: 36px;
    color: white;
    text-transform: uppercase;
  }
  
  /* span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
   */
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }

.primary-btn {
    background-color: #141414;
    border-radius: 80px;  
    border: 1px white solid;
    width: 150px;
    height: 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-text {
    color: #828282;
    font-weight: 500;
    font-size: 18px;
}

.primary-btn:hover {
    background-color: #fff;
    color: #141414;
}

main {
    width: 100%;
}

.main-text {
    font-size: 70px;
    line-height: 70px;
    margin: 0;
}

.blue {
    color: #FFD506;
}

.image img {
    height: 380px;
    border-radius: 10px;
}


.image {
    float: right;
    margin-top: -350px;
}

.aboutme {
    margin-top: 300px;
    display: flex;
    font-size: 48px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.whaticando {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutmeprimary {
    margin: 0;
    text-align: center;
    font-size: 16px;
    width: 800px;
}

.about {
    font-size: 48px;
}

.underbtns {
    display: flex;
    width: 200px;
}

.iconbtns img{
    width: 40px;
    cursor: pointer;
}

.iconbtns:hover {
    opacity: 60%;
}

.mrg-left40px{
    margin-left: 50px;
}


.iconbtns {
    margin-top: 20px;
    transition: opacity 0.3s ease;
}

.round img {
    width: 45px;
    height: 45px;
}

.social-networks {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.social-network {
    text-align: center;
}

.social-networks-text {
    margin-top: 15px;
}

.bold-social-networks {
    font-weight: bold;
}

.block {
    width: 300px;
    height: 202px;
    background: #212121;
    transition: width 0.5s ease, border-bottom .5s ease;
}

.mrg-left100px{
    margin-left: 100px;
}

.blocks {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.block-icon {
    margin-top: 30px;
    margin-left: 40px;
}

.block-text {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 24px;
    font-weight: 500;
    color: #535353;
    transition: color 0.3s ease;
}

.block-skills {
    width: 1168px;
    height: 230px;
    background: #212121;
}

.works {
    margin-top: 50px;
}

.long {
width: 250px;
}

.block-text-skills {
    margin-top: 50px;
    margin-left: 40px;
    font-size: 24px;
    font-weight: 500;
    color: #535353;
    transition: color 0.3s ease;
}

.block:hover > .block-text{
    color: white;
}

.block::after {
    content: "";
    display: block;
    border-bottom: 4px solid #FFD506;
    width: 0;
    margin: 40px auto;
    transition: width .3s;
}

.block:hover::after {
    content: "";
    display: block;
    border-bottom: 4px solid #FFD506;
    width: 293px;
    margin: 40px auto;
}

.percent {
    font-weight: 700;
    font-size: 72px;
}

.block-skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-inside {
    text-align: center;
}


.blue-text {
    font-weight: 700;
    font-size: 24px;
    color: #39A9DC;
}

@media screen and (max-width: 720px) { 

    .block-skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 800px;
    }

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main {
    margin-bottom: 100px;
    /* puff */
}

.blocks {
    flex-direction: column;
    margin-top: 50px;
}

.mrg-left100px{ 
    margin: 0;
    margin-top: 50px;
}

.main-btns {
    margin-top: 10px;
}

.nav-list {
    display: none;
}

.underbtns {
    justify-content: center;
    align-items: center;
    width: 100% !important;
}

.container {
    margin: 0 10px 0 10px;
}

body {
}

.main-text {
    font-size: 36px;
    line-height: 40px;
}

.typewriter {
    font-size: 24px;
}

header {
    margin-top: 9px;
    float: right;
}

.image {
    display: none;
}

.main-btns {
    display: flex;
}

.aboutme {
    margin-top: 100px;
    font-size: 36px !important;
}

.about {
    font-size: 36px !important;
}

.aboutmeprimary {
    width: 300px;
}

.social-networks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.social-network {
    margin-top: 50px;
}

.whaticando {
    margin-top: 150px;
}

.nav-list {
    display: none;
}

#main-menu {
    display: block;
}


h2 {
    font-size: 36px;
}

.menu__link {
    font-size: 16px !important;
}

.footer p {
    font-size: 14px !important;
    margin: 15px 0 10px 0px !important;
}

.footer {
    left: 0px !important;
}

}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#main-menu {
  display: none;
  height: 100px;
  width: 100%;
  background: #fff;
  margin: 0px;  
  z-index: 9;
}

.rights {
    color: #535353;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 30px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', Sans-serif;
    background: linear-gradient(
      to bottom, 
      #141414, #141414 10%, 
      white 10%, white 20%, 
      #141414 20%, #141414 30%, 
      white 30%, white 40%, 
      #141414 40%, #141414 50%,
      white 50%, white 60%, 
      #141414 60%, #141414 70%
    );
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 700px;
    height: 100%;
    background-color: #141414;
    transition: 0.3s;
    padding: 10px 30px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
  color: #fff;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
    opacity: 0.4;
}


@media screen and (max-width: 750px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}

.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-style-1 {
	margin:150px auto;
	max-width: 600px;
	padding: 20px 12px 10px 20px;
	font: 13px "Montserrat", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=tel],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    color: #fff;
    background-color: #141414;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    border: none;
	border-bottom: 2px solid #535353;
	padding: 7px;
	margin:0px;
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=tel]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #141414;
	-webkit-box-shadow: 0 0 8px #141414;
	box-shadow: none;
    outline: none;
	border-bottom: 2px solid #535353;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
.form-style-1 .field-textarea{
	height: 100px;
    font-family: 'Montserrat', sans-serif;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background-color: #141414;
    border-radius: 80px;  
    border: 1px white solid;
    width: 150px;
    height: 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background-color: #fff;
    color: #141414;
}


.align-center {
    text-align: center;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:rgb(130, 0, 0);
}



.footer {
    overflow-x: hidden;
    align-items: center;
    text-align: center;
    background: #181818;
    padding: 20px 30px;
    width: 100%;
    max-width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 30px;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("./img/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }


  * {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
figure {
    margin: 0;
}
figcaption {
    font-size: 0.8em;
    font-weight: 500;
    color: grey;
    line-height: 1.4;
}
.grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 90%;
    grid-gap: 1em;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 2em 1em;
    margin-top: 100px;
    margin-bottom: 100px;
    z-index: 3;
}
@media all and (min-width: 600px) {
    .grid {
        grid-auto-flow: initial;
        grid-template-columns: repeat(auto-fit, minmax(auto, 20em));
        justify-content: center;
   }
}
.grid__figure {
    display: grid;
    grid-template-rows: 15em 1fr;
    grid-gap: 1em;
}
.grid__figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale 0.3s ease;
    border-radius: 10px;
    
}

.grid__figure img:hover {
    scale: 105%;
}